   /* Estilo para la animación */
   @keyframes move {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, 10px); }
    100% { transform: translate(0, 0); }
  }


  @keyframes moveHands {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(0.2deg);
  }
  100% {
      transform: rotate(0deg);
  }   
}


@keyframes moveHead {
  0% {
      transform: rotate(0deg);
  }
  30% {
      transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(2.5deg);
}
  100% {
      transform: rotate(0deg);
  }   
}

#brazos {
  transform-origin: center; 
  animation: moveHands 3s linear infinite;
  
}

#cabeza {
  transform-origin: center; 
  animation: moveHead 10s linear infinite; 
  animation-delay: 2s

}

  [data-name="seccion01"] {
    animation: move 3s ease-in-out infinite;
  
  }

  [data-name="seccion02"] {
    animation: move 3.2s ease-in-out infinite;
  }
  [data-name="seccion03"] {
    animation: move 3.3s ease-in-out infinite;
  }
  
  [data-name="seccion04"] {
    animation: move 3.4s ease-in-out infinite;
  }

  [data-name="seccion05"]{
    animation: move 3.5s ease-in-out infinite;
  }

  [data-name="seccion06"]{
    animation: move 3.6s ease-in-out infinite;
  }

  

  .ilustration{
    width: 50vh;
  }


  .cls-taza{fill:#ececec }
  .cls-1{fill:#634e42;}
  .cls-2{fill:#f08b80;}
  .cls-3{fill:#1d1d1b;}
  .cls-4{fill:#f0887c;}
  .cls-5{fill:#575756;}
  .cls-6{fill:#3c3c3b;}
  .cls-6-6{fill:#f3dcd4;}
  .cls-7{fill:#d9d9d9;}
  .cls-8{fill:#FFC000;}
  .cls-9{fill:#1a2e35;}
  .cls-10{fill:#7a6a58;}
  .cls-11{fill:#00a099;}
  .cls-12{fill:#fff;}
  .cls-13{fill:#ececec;}


  .cls-1-1{fill:#009ee2;opacity:0.25;}
  .cls-2-2{fill:#d9d9d9;}
  .cls-3-3{fill:#1d70b7;}
  .cls-4-4{fill:#c6c6c5;}
