.navBar {
    background-color:  #2c3539;
    position: absolute;
    width: 60%;
    height:20% ; 
}

.subnavBar {
    border-color: #2c3539;
    
}
.nav-link{
    color: white;
    font-size: 15px;
    opacity: 1;
    
}

.nav-item{
    list-style-type: none
}